:root {
--Red: hsl(0, 78%, 62%);
--Cyan: hsl(180, 62%, 55%);
--Orange: hsl(34, 97%, 64%);
--Blue: hsl(212, 86%, 64%);


--Grey-500: hsl(234, 12%, 34%);
--Grey-400: hsl(212, 6%, 44%);
--White: hsl(0, 0%, 100%);
}

body {
    background: hsl(0, 0%, 90%);
    font-family: "Poppins", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.light-title {
    font-size: 2.2rem;
    font-weight: 200;
    color: var(--Grey-500);
}

.bold-title {
    font-size: 2.2rem;
    font-weight: 600;
    color: var(--Grey-500);
    margin-top: -1.75rem;
    margin-bottom: -0.3125rem;
}

.slogan {
    font-size: 0.9375rem;
    color: var(--Grey-500);
}

.header {
    margin-top: 2.8125rem;
}

.title-section {
    text-align: center;
    max-width: 33.75rem;
}

.container {
    margin: 3.125rem 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
    align-items: center;
    gap: 1.875rem;
}

.card {
    border-radius: 0.3125rem;
    max-width: 17.875rem;
    height: 12.5rem;
    padding: 1.5625rem 1.875rem;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.card img {
    width: 3.4375rem;
    align-self: flex-end;
    margin-top: 2.5rem;
}

.card-title {
    font-size: 1.125rem;
    font-weight: 600;
    color: var(--Grey-500);
    margin: 0.3125rem 0;
}

.card-description {
    font-size: 0.8125rem;
    color: var(--Grey-400);
    margin: 0;
}

.teambuilder {
    border-top: 0.25rem solid var(--Red);
    grid-area: 1 / 2;
}

.karma {
    border-top: 0.25rem solid var(--Orange);
    grid-area: 2 / 2;
}

.supervisor {
    border-top: 0.25rem solid var(--Cyan);
    /* grid-row: span 2;
    grid-column: 1; */
    grid-area: span 2 / 1;
}

.calculator {
    border-top: 0.25rem solid var(--Blue);
    /* grid-row: span 2;
    grid-column: 3; */
    grid-area: span 2 / 3;
}


@media (max-width: 48rem) {

    .header {
        padding: 0 1.25rem;
    }

    .container {
        grid-template-columns: 1fr;
    }

    .card {
        grid-area: auto;
        max-width: 15.9375rem;
        margin-bottom: 0.4375rem;
    }

    .card img {
        width: 3.75rem;
    }

    .light-title {
        font-size: 1.625rem;
    }

    .bold-title {
        font-size: 1.625rem;
        margin-top: -1.5625rem;
    }

    .slogan {
        margin-top: 1.25rem;
    }
}